In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://serhii_sotnichenko:ax1V456G7vBOPXQX@localhost:5433/layereddb")


# sport_clubs
sport_clubs = pd.read_sql("""
    SELECT 
        district_id, 
       
        COUNT(DISTINCT club_id) AS num_sport_clubs
    FROM berlin_source_data.social_clubs_activities
    WHERE club = sport 
    OR
     leisure IN (
        'fitness_centre', 'sports_centre', 'stadium', 'pitch',
        'track', 'ice_rink', 'marina', 
        'dance' 
    )
    OR sport IS NOT NULL
    GROUP BY district_id;
""", engine)


# gyms
gyms = pd.read_sql("SELECT district_id,COUNT(DISTINCT gym_id) AS num_gyms FROM berlin_source_data.gyms GROUP BY district_id;", engine)

# pools
pools = pd.read_sql("SELECT district_id,COUNT (DISTINCT pool_id) AS num_pools FROM berlin_source_data.pools GROUP BY district_id;", engine)

# districts area and inhabitants
districts = pd.read_sql("""
    SELECT district_id, district, total_area_ha, inhabitants
    FROM berlin_source_data.regional_statistics
    WHERE year = 2023;
""", engine)

# merge all dataframes
sporty_df = districts.merge(sport_clubs, on="district_id", how="left") \
    .merge(gyms, on="district_id", how="left") \
    .merge(pools, on="district_id", how="left") 

# fill NaN with 0
sporty_df = sporty_df.fillna(0)  

# total sport facilities   
sporty_df["total_sport_facilities"] = (
    sporty_df["num_pools"] + sporty_df["num_gyms"] + sporty_df["num_sport_clubs"]



)
# ha to km2
sporty_df["area_km2"] = sporty_df["total_area_ha"] / 100

# total sport facilities density km2 and per 1000 inhabitants
sporty_df["sport_facilities_density"] = (sporty_df["total_sport_facilities"]) / sporty_df["area_km2"]
sporty_df["sport_facilities_per_1000"] = (sporty_df["total_sport_facilities"]) / (sporty_df["inhabitants"] / 1000)

# Variety index: number of distinct sport clubs per km² and per 1000 inhabitants
sporty_df["sport_variety_density"] = sporty_df["num_sport_clubs"] / sporty_df["area_km2"]
sporty_df["sport_variety_per_1000"] = sporty_df["num_sport_clubs"] / (sporty_df["inhabitants"] / 1000)

# Variety index: number of distinct gyms per km² and per 1000 inhabitants
sporty_df["gyms_density"] = sporty_df["num_gyms"] / sporty_df["area_km2"]
sporty_df["gyms_per_1000"] = sporty_df["num_gyms"] / (sporty_df["inhabitants"] / 1000)

# Variety index: number of distinct pools per km² and per 1000 inhabitants
sporty_df["pools_density"] = sporty_df["num_pools"] / sporty_df["area_km2"]
sporty_df["pools_per_1000"] = sporty_df["num_pools"] / (sporty_df["inhabitants"] / 1000)

# Determine 50th percentiles for thresholds
density_50 = sporty_df["sport_facilities_density"].quantile(0.50)
per_1000_50 = sporty_df["sport_facilities_per_1000"].quantile(0.50)

variety_density_50 = sporty_df["sport_variety_density"].quantile(0.50)
variety_per_1000_50 = sporty_df["sport_variety_per_1000"].quantile(0.50)

gyms_density_50 = sporty_df["gyms_density"].quantile(0.50)
gyms_per_1000_50 = sporty_df["gyms_per_1000"].quantile(0.50)

pools_density_50 = sporty_df["pools_density"].quantile(0.50)
pools_per_1000_50 = sporty_df["pools_per_1000"].quantile(0.50)

# Assign label based on 50th percentile thresholds

sporty_df["label_high_sport_coverage"] = (
    (sporty_df["sport_facilities_density"] > density_50)
    & (sporty_df["sport_facilities_per_1000"] > per_1000_50)
).map({True: "high_sport_coverage", False: None})

sporty_df["label_various_sport_activities"] = (
    (sporty_df["sport_variety_density"] > variety_density_50) 
    & (sporty_df["sport_variety_per_1000"] > variety_per_1000_50)
).map({True: "various_sport_activities", False: None})

sporty_df["label_gyms_accessible"] = (
    (sporty_df["gyms_density"] > gyms_density_50)
    & (sporty_df["gyms_per_1000"] > gyms_per_1000_50)
).map({True: "gyms_accessible", False: None})

sporty_df["label_pools_accessible"] = (
    (sporty_df["pools_density"] > pools_density_50)
    & (sporty_df["pools_per_1000"] > pools_per_1000_50)
).map({True: "pools_accessible", False: None})


# Combine all labels per district
def combine_labels(row):
    labels = [row["label_high_sport_coverage"], row["label_various_sport_activities"], row["label_gyms_accessible"], row["label_pools_accessible"]]
    return ", ".join([lbl for lbl in labels if lbl is not None]) or "not sporty"

#  Sorted view
top_sporty = sporty_df.sort_values("total_sport_facilities", ascending=False)[
    [
        "district",
        "area_km2",
        "inhabitants",
        "num_pools",
        "num_sport_clubs",
        "num_gyms",

        "total_sport_facilities",
        "label_high_sport_coverage",
        "label_various_sport_activities",
        "label_gyms_accessible",
        "label_pools_accessible"
    ]
]

top_sporty

,district,area_km2,inhabitants,num_pools,num_sport_clubs,num_gyms,total_sport_facilities,label_high_sport_coverage,label_various_sport_activities,label_gyms_accessible,label_pools_accessible
6,Pankow,103.22,424307,9,16,83,108,high_sport_coverage,None,gyms_accessible,None
0,Charlottenburg-Wilmersdorf,64.69,343081,15,17,59,91,high_sport_coverage,various_sport_activities,gyms_accessible,pools_accessible
4,Mitte,39.40,397134,9,14,63,86,high_sport_coverage,None,gyms_accessible,None
1,Friedrichshain-Kreuzberg,20.40,293454,8,19,58,85,high_sport_coverage,various_sport_activities,gyms_accessible,pools_accessible
11,Treptow-Köpenick,167.73,294081,17,44,24,85,None,None,None,None
9,Steglitz-Zehlendorf,102.56,310446,29,23,28,80,None,None,None,pools_accessible
10,Tempelhof-Schöneberg,53.05,355868,8,17,42,67,None,None,gyms_accessible,None
8,Spandau,91.88,257091,17,26,9,52,None,various_sport_activities,None,pools_accessible
7,Reinickendorf,89.32,268792,12,20,14,46,None,None,None,None
5,Neukölln,44.93,330017,7,14,21,42,None,None,None,None
2,Lichtenberg,52.12,311881,8,8,16,32,None,None,None,None
3,Marzahn-Hellersdorf,61.82,291948,5,4,20,29,None,None,None,None

In [4]:

# distribution or test thresholds:
sporty_df[["sport_facilities_density", "sport_facilities_per_1000", "sport_variety_density", "sport_variety_per_1000","gyms_density", "gyms_per_1000","pools_density", "pools_per_1000" ]].describe()

,sport_facilities_density,sport_facilities_per_1000,sport_variety_density,sport_variety_per_1000,gyms_density,gyms_per_1000,pools_density,pools_per_1000
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,1.204250,0.205299,0.295685,0.059671,0.726556,0.107019,0.182009,0.038610
std,1.058006,0.068984,0.216268,0.037113,0.795289,0.059290,0.090167,0.023490
min,0.469104,0.099333,0.064704,0.013701,0.097954,0.035007,0.080880,0.017126
25%,0.553217,0.160169,0.206688,0.037095,0.243943,0.060746,0.126100,0.022163
50%,0.857409,0.209407,0.262559,0.048661,0.395457,0.085901,0.154645,0.026456
75%,1.298897,0.259581,0.313810,0.074167,0.831091,0.161970,0.229289,0.047935
max,4.166667,0.289654,0.931373,0.149619,2.843137,0.197646,0.392157,0.093414

In [5]:
# LowSportCoverage — if none of the sporty labels apply
sporty_df["label_low_sport_coverage"] = sporty_df.apply(
    lambda r: "low_sport_coverage" if all([
        r["label_high_sport_coverage"] is None,
        r["label_various_sport_activities"] is None,
        r["label_gyms_accessible"] is None,
        r["label_pools_accessible"] is None
    ]) else None,
    axis=1
)

In [6]:
#  Final sorted view

top_sporty = sporty_df.sort_values("total_sport_facilities", ascending=False)[
    [
        "district",
        "area_km2",
        "inhabitants",
        "num_pools",
        "num_sport_clubs",
        "num_gyms",

        "total_sport_facilities",
        "label_high_sport_coverage",
        "label_various_sport_activities",
        "label_gyms_accessible",
        "label_pools_accessible",
        "label_low_sport_coverage"
    ]
]

top_sporty

,district,area_km2,inhabitants,num_pools,num_sport_clubs,num_gyms,total_sport_facilities,label_high_sport_coverage,label_various_sport_activities,label_gyms_accessible,label_pools_accessible,label_low_sport_coverage
6,Pankow,103.22,424307,9,16,83,108,high_sport_coverage,None,gyms_accessible,None,None
0,Charlottenburg-Wilmersdorf,64.69,343081,15,17,59,91,high_sport_coverage,various_sport_activities,gyms_accessible,pools_accessible,None
4,Mitte,39.40,397134,9,14,63,86,high_sport_coverage,None,gyms_accessible,None,None
1,Friedrichshain-Kreuzberg,20.40,293454,8,19,58,85,high_sport_coverage,various_sport_activities,gyms_accessible,pools_accessible,None
11,Treptow-Köpenick,167.73,294081,17,44,24,85,None,None,None,None,low_sport_coverage
9,Steglitz-Zehlendorf,102.56,310446,29,23,28,80,None,None,None,pools_accessible,None
10,Tempelhof-Schöneberg,53.05,355868,8,17,42,67,None,None,gyms_accessible,None,None
8,Spandau,91.88,257091,17,26,9,52,None,various_sport_activities,None,pools_accessible,None
7,Reinickendorf,89.32,268792,12,20,14,46,None,None,None,None,low_sport_coverage
5,Neukölln,44.93,330017,7,14,21,42,None,None,None,None,low_sport_coverage
2,Lichtenberg,52.12,311881,8,8,16,32,None,None,None,None,low_sport_coverage
3,Marzahn-Hellersdorf,61.82,291948,5,4,20,29,None,None,None,None,low_sport_coverage

In [8]:
#  Gather all label columns into a single list per district 
sporty_df["labels_list"] = sporty_df.apply(
    lambda r: [
        lbl for lbl in [
            r["label_high_sport_coverage"],
            r["label_various_sport_activities"],
            r["label_gyms_accessible"],
            r["label_pools_accessible"],
            r["label_low_sport_coverage"]
        ] if lbl is not None
    ],
    axis=1
)

#  Expand into separate rows 
final_sport_df = (
    sporty_df[["district_id", "labels_list"]]
    .explode("labels_list")
    .dropna(subset=["labels_list"])
    .rename(columns={"labels_list": "label"})
)

#  Add category column 
final_sport_df["category"] = "Amenities & Services"

# --- Step 4: Add hashtags to labels (for consistency) ---
final_sport_df["label"] = "#" + final_sport_df["label"]

# --- Step 5: Reorder columns for database format ---
final_sport_df = final_sport_df[["district_id", "category", "label"]]

print("✅ Preview of final data to upload:")
print(final_sport_df.head())

✅ Preview of final data to upload:
  district_id              category                      label
0    11004004  Amenities & Services       #high_sport_coverage
0    11004004  Amenities & Services  #various_sport_activities
0    11004004  Amenities & Services           #gyms_accessible
0    11004004  Amenities & Services          #pools_accessible
1    11002002  Amenities & Services       #high_sport_coverage

In [9]:
# Upload to Database 

try:
    final_sport_df.to_sql(
        'district_labels_new',
        engine,
        schema='berlin_labels',
        if_exists='append',   # Add new rows without overwriting
        index=False
    )
    print(f"✅ Successfully uploaded {len(final_sport_df)} sport labels to the database.")
except Exception as e:
    print(f"❌ Upload error: {e}")

✅ Successfully uploaded 21 sport labels to the database.